<h1>{{ text }}</h1>

<mat-card class="search-box">
  <mat-form-field class="search-options">
    <mat-label>검색 옵션</mat-label>
    <mat-select [(ngModel)]="selectedOptionValue" name="selectedOption">
      <mat-option *ngFor="let selectedOption of searchOptions" [value]="selectedOption.value">
        {{selectedOption.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <input matInput id="search" name="search" [(ngModel)]="searchKeyword" required>
  <button mat-button (click)="onSearch()">검색</button>
  <span mat-card-subtitle *ngIf="this.datas.length == 0"> "{{searchKeyword}}"에 대한 검색결과가 없습니다. </span>
</mat-card>

<mat-card class="search-date-box">
  <mat-form-field>
    <mat-label>시작일</mat-label>
    <input matInput [matDatepicker]="picker_start">
    <mat-datepicker-toggle matSuffix [for]="picker_start"></mat-datepicker-toggle>
    <mat-datepicker #picker_start startView="month" [startAt]="startDate"></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>종료일</mat-label>
    <input matInput [matDatepicker]="picker_end">
    <mat-datepicker-toggle matSuffix [for]="picker_end"></mat-datepicker-toggle>
    <mat-datepicker #picker_end startView="month" [startAt]="startDate"></mat-datepicker>
  </mat-form-field>

  <button mat-button (click)="onSearch()">검색</button>
</mat-card>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <!--<td mat-cell *matCellDef="let element"> {{element.id}} </td>-->
      <!--<td mat-cell *matCellDef="let element; let i = index; ">{{ this.paginator.pageIndex == 0 ?  i + 1 : i + 1 + this.paginator.pageIndex * this.paginator.pageSize}}</td>-->
      <td mat-cell *matCellDef="let element; let i = index; ">{{ this.paginator.pageIndex == 0 ?  this.datas.length - i : this.datas.length - this.paginator.pageIndex * this.paginator.pageSize - i }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> 제목 </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> 작성자 </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef> 작성일 </th>
      <td mat-cell *matCellDef="let element"> {{element.created | date:'MM/dd HH:mm '}} </td>
    </ng-container>

    <ng-container matColumnDef="views">
      <th mat-header-cell *matHeaderCellDef> 조회수 </th>
      <td mat-cell *matCellDef="let element"> {{element.views}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="/board-detail/{{row.id}}"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  <button mat-button (click)="onBoardCreate()">글쓰기</button>
</div>
