<h1>😊 Welcome Our Site! Sign up! ✨</h1>

<div class="form-box">
  <form [formGroup]="joinForm" #f="ngForm" (submit)="onSubmit()" >
    <mat-card>
      <mat-card-content>
        <div class="cross-validation" [class.cross-validation-error]="joinForm.errors?.identityRevealed && joinForm.errors?.comparePassword && joinForm.errors?.passwordCommon && (joinForm.touched || joinForm.dirty)">
          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>아이디</mat-label>
              <input matInput id="username" class="form-control"
                   formControlName="username" required >
            </mat-form-field>
            <div *ngIf="username.invalid && (username.dirty || username.touched)"
                   class="alert alert-danger">
              <div *ngIf="username.errors.required">이름을 입력해주십시오</div>
              <div *ngIf="username.errors.minlength"> 이름은 3글자 이상 입력해야 합니다.</div>
            </div>

            <br>

            <mat-form-field appearance="fill">
              <mat-label>비밀번호</mat-label>
              <input matInput type="password" id="password1" class="form-control"
                     formControlName="password1" required >
            </mat-form-field>
            <div *ngIf="password1.invalid && (password1.dirty || password1.touched)"
                 class="alert alert-danger">
              <div *ngIf="password1.errors.required">비밀번호를 입력해주십시오.</div>
              <div *ngIf="password1.errors.minlength">비밀번호는 8글자 이상 입력해야 합니다.</div>
              <div *ngIf="password1.errors.maxlength">비밀번호는 20글자 이하 입력해야 합니다.</div>
              <div *ngIf="password1.errors.pattern">비밀번호가 보안에 약합니다.👮‍♀️👮‍♂️</div>
              <div *ngIf="joinForm.errors?.passwordHasNumber">❗ 숫자를 포함해주세요</div>
              <div *ngIf="joinForm.errors?.passwordHasCharacter">❗ 영문 대,소문자를 포함해주세요</div>
              <div *ngIf="joinForm.errors?.passwordHasSpecial">❗ 특수기호를 포함해주세요 ( @, !, *, & )</div>
            </div>

            <br>

            <mat-form-field appearance="fill">
              <mat-label>비밀번호 확인</mat-label>
              <input matInput type="password" id="password2" class="form-control"
                     formControlName="password2" required >
            </mat-form-field>
            <div *ngIf="password2.touched && joinForm.errors?.comparePassword"
                 class="alert alert-danger">비밀번호가 일치하지 않습니다.</div>
            <br>

            <mat-form-field appearance="fill">
              <mat-label>이메일</mat-label>
              <input matInput type="email" id="email" class="form-control"
                     formControlName="email" required >
            </mat-form-field>
            <div *ngIf="email.invalid && (email.dirty || email.touched)"
                 class="alert alert-danger">
              <div *ngIf="email.errors.required">이메일을 입력해주십시오.</div>
              <div *ngIf="email.errors.email">aaa@bbb.ccc 형식으로 입력해주십시오.</div>
            </div>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button value="submit" [disabled]="joinForm.invalid">가입하기</button>
        <button mat-button type="button" (click)="f.resetForm({})">새로작성하기</button>
        <button mat-button routerLink="/login" routerLinkActive="active">로그인</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
