.form-box {
  padding: 13px;
  width: 600px;
}

.form-box #content {
  height: 200px;
}

mat-form-field {
  width: 100%;
}

.alert-danger {
  color: firebrick;
  font-size: 0.8rem;
  text-align: right;
}
