<div class="form-box">
  <form [formGroup]="boardForm" #f="ngForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-content>
        <div  class="cross-validation" [class.cross-validation-error]="boardForm.errors?.identityRevealed && (boardForm.touched || boardForm.dirty)" >
          <div class="form-group">
            <!--<mat-form-field appearance="fill">-->
            <!--<mat-label>작성자</mat-label>-->
            <!--<input matInput name="username" [(ngModel)]="board.username" #first="ngModel">-->
            <!--</mat-form-field>-->
            <!--<br>-->
            <mat-form-field appearance="fill">
              <mat-label>제목</mat-label>
              <input matInput id="title" name="title" class="form-control"
                     formControlName="title" [(ngModel)]="board.title" required>
            </mat-form-field>
            <div *ngIf="title.invalid && (title.dirty || title.touched)"
                 class="alert alert-danger">
              <div *ngIf="title.errors.required">제목을 입력해주십시오</div>
            </div>
            <br>
            <!--<mat-form-field appearance="fill">-->
            <!--<mat-label>Select</mat-label>-->
            <!--<mat-select>-->
            <!--<mat-option value="option">Option</mat-option>-->
            <!--</mat-select>-->
            <!--</mat-form-field>-->
            <!--<br>-->
            <mat-form-field appearance="fill">
              <mat-label>내용</mat-label>
              <textarea matInput id="content" name="content" class="form-control"
                        formControlName="content" value="{{this.board.content}}" required></textarea>
            </mat-form-field>
            <div *ngIf="content.invalid && (content.dirty || content.touched)"
                 class="alert alert-danger">
              <div *ngIf="content.errors.required">내용을 입력해주십시오</div>
            </div>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button value="submit" [disabled]="boardForm.invalid">작성하기</button>
        <button mat-button routerLink="/board-list" routerLinkActive="active">목록보기</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
